body{
    font-family:  "Oswald", "Quattrocento", serif;
    font-size: 16px;
    color:white; 
    /*background-color: background;*/
    background-image: url("hotelBackground.jpg");
    background-repeat:no-repeat;
    background-color: gray;
    inset: 0;
}

#header {
    /*box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);*/
    top: 0%;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 180px;
    /*background-color: rgba(145, 145, 145, 0.8);*/
    color: white;
    font-size: 20px;
}

#headerWords{
    position: absolute;
    left: 40%;
}

/* Commented out menu items class for testing NOT to be used
.menuItems{
    display: inline;
    position: relative;
    
    margin-top: 30px;
    padding: 12px;
    background-color:rgba(21, 70, 153, .8);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    color: white; 
}*/

 /*MENU ITEMS */

/* Poster index div styles are in cofirmation, confirmationDisplay, index Post section, and index continue */

#menuDiv{
    /*z-index: 1000;*/
    position: absolute;
    top: 10%;
    padding-left: 25%;
    padding-right: 50px;
    padding-top: 10px;
}

#menuDiv a:hover{
	
    text-decoration:underline;
    cursor: pointer;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

#indexItem{
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color:black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    text-decoration: none;
    padding: 20px;
    color: white;
    
}

#aboutItem{
	
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    text-decoration: none;
    padding: 20px;
    color: black	; 
    
     
}

#locationsItem{
	
	display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    text-decoration: none;
    padding: 20px;
    color: white;
	
	/*
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:rgba(21, 70, 153, .8);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color: white;*/  
}

#loyaltyItem{

    
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    text-decoration: none;
    padding: 20px;
    color: black; 
}


#leftbar{
	
    position: absolute;
    /*padding-bottom: 100px;*/
    padding-right: 100px;
    padding-left: 100px;
    top: 0%;
    padding-top: 20px;
    /*box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: white;
    margin-left: 20px;
    padding: 20px;*/
}

#rightbar{
	
    position: absolute;
    margin-left: 80%;
    top: 0%;    
    /*padding-top: 20px;*/
    /*background: rgba(255, 255, 255, .7);*/
    padding: 20px;
   /*  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.2); */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}


#paraDiv{
    padding-top: 260px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}

#pageContainterIndex{
    width: 100%;
    /*margin-top: 560px;*/ 
    padding-bottom: 40px;
	
	margin-right: 0;
}

#pageContainterAbout{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 0px;
}


.pageTitle{
    

    padding-top: 220px;
    padding-left: 45%;
    padding-right: 10%;
    padding-bottom: 20px;
    text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    

}


#footer{
	
	/*margin-top: 100%;*/
	position: relative;
    box-sizing: border-box;
    /*box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.2);*/
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    left: 0;
    /*background-color: rgba(145, 145, 145, 0.8);*/
    color: white;
    font-size: 10pt;
	
}


#hotel_room{
	max-height: 40%;
	max-width: 40%;
	display: inline;
	float: left;
	clear: both;
}

#aboutSub {
	display: block;
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	
	color: rgba(21, 70, 153, 1.0);
	/*color: rgba(133, 133, 133, 1.0);*/
	display: block;
}

#aboutSub h2{
	max-width: 1000px;
	padding: 10px;
	border-radius: 50px;
	
	
	background-color: rgba(255, 255, 255, 0.4);
	
	
}

#aboutSub img {
	max-width: 40%;
	height: auto;
}


/* #aboutRow:after {
	content: "";
	display: table;
	clear: both;
} */

#aboutRow{
	display: table;
}

#aboutImg {
	margin-left: auto;
	float: left;
	max-height: auto;
	width: 40%;
	box-sizing: border-box;
	object-fit: contain;
	padding-bottom: 100px; /*added this 04/15/2023*/
}

#aboutPara {
	/*background-color: rgba(21, 70, 153, 1.0);*/
	/* margin: 50px; */
	margin-left: 200px;
	float: left;
	height: 300px;
	width: 40%;
	box-sizing: border-box;
	font-size: 15pt;
	/*border: 1px solid rgba(21, 70, 153, 1.0);*/
}

#contactUs {
	border: 3px solid rgba(0,0,0,1.0);
	background-color: rgba(30, 75, 119, 1.0);
	padding: 20px;
	margin: auto;
	width: 60%;
	display: inline-block;
}
/*
#contactUs input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: rgba(133, 133, 133, 1.0);
	display: block;
	clear: both;
}*/



#fname, #lname, #email, #issue, #description {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: rgba(133, 133, 133, 1.0);
	display: block;
	clear: both;
}



#supportMan{
	display: inline-block;
	border: 3px solid rgba(0,0,0,1.0);
	background-color: rgba(30, 75, 119, 1.0);
	margin-left: 550px;
	margin-top:300px;
	padding: 20px;
}

/*
#aboutPara1{
	display: inline;
	float: right;
	padding-right: 120px;
	max-height: 500px;
	max-width: 500px;
	
}*/


#mainpic {
	display: inline-block;
	
	/* float: left; */
    margin-right: 100px;
    /*margin-left: 1%*/;
    /*width: 100%;*/
    margin-left: 100px;
    /* background-color: blue; */
    
    
    
    
    
}
#mainpic img{
	border-radius: 20px;
	opacity: 0.9;
	/* box-shadow: 5px 5px 5px 5px darkgray; */
	/*display: inline-block;*/
	/* float: left; */
	
}

/*
#wrapper{
    margin: auto;
    height: auto;
    position: relative;
}*/

#addlink {
	border-radius: 5px 10px 5px 10px;
	padding: 4px;
	position: absolute;
	margin-left: 10px;
	margin-top: 330px;
	text-align: center;
	font-size: 10pt;
	color: yellow;
}

#searchdiv {
	/* display: inline-block; */
	/* position: absolute; */
    /* align-content: center; */
    /* transform: translate(250%, 20%); */
    /*border:  1px solid black;*/
    /*background-color: rgba(222, 184, 135, 0.8);*/
    /*background-color: rgba(145, 145, 145, 0.8);*/
    /*border-radius: 5px 10px 5px 10px;*/
    /*box-shadow: 5px 5px 5px 5px darkgray;*/ 
    /* float: right; */
   /*  margin-top: -380px; */
    display: inline-block;
    
    margin-left: 0%;
    /* padding: 80px; */
    padding-bottom: 0px;
    padding-left: 200px;
    padding-right: 80px;
    padding-top: 50px;
    
    /* background-color: green;  */
    
}

#searchform {
    font-size: 12pt;
    /*padding-left: 5px;&/
    /* float: right; */
    /*background-color: red;*/
    box-shadow: 5px 5px 5px 5px darkgray;
    background-color: rgba(145, 145, 145, 0.8);
    border:  1px solid black;
    border-radius: 5px 10px 5px 10px;
    /*margin-left: 50%;*/
    display: block;
    
    
    
}

/*
#posterIndex{
    border: 1px solid black;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 500px;
    background-color: rgba(145, 145, 145, 0.8);
    margin-left: 32%;
    margin-top: -2%;
}

#poster_title{
    text-align: center;
}*/


#posterIndex{
display: inline-block;
padding: 40px;
margin-top: 240px;
margin-left: 30%;
background-color: rgba(145, 145, 145, 0.8);
/*background-color:rgba(21, 70, 153, .8);*/
margin-bottom: 40px;
border-radius: 10px 10px 10px 10px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}



.asterik{
    color: red;
}

#signinPageContainer{
	
}

#signinFormDiv{
	display: inline-block;
	margin-left: 40%;
	padding: 80px;
	border-radius: 50px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
	/*background-color:rgba(21, 70, 153, .8);*/
	background-color: rgba(145, 145, 145, 0.8);
	
}

#registerPageContainer{
	padding-bottom: 200px;
}

#register-formDiv{
	display: inline-block;
	margin-top: -20px;
	margin-left: 40%;
	padding: 40px;
	border-radius: 50px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
	/*background-color:rgba(21, 70, 153, .8);*/
	background-color: rgba(145, 145, 145, 0.8);
}

#searchreserve{
    border: 1px solid black;
    width: 300px;
    background-color: rgba(145, 145, 145, 0.8);
    padding: 5px;
    margin-left: 40%;
}

#results{
    border: 1px solid black;
    width: 430px;
    padding-left: 85px;
    margin-left: 30%;
    background-color: rgba(145, 145, 145, 0.8);
}

#buttondiv{
    margin-left: 32%;
}

#loyaltyPage{
	
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: auto;
	
	display: inline-block;
	padding: 20px;

	/*border: 1px solid black;
	background-color: rgba(145, 145, 145, 0.8);*/
	border: 3px solid rgba(0,0,0,1.0);
	background-color: rgba(30, 75, 119, .7);
	border-radius: 20px;
}

#loyaltyTable1{
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	border: 2px double;
	border-color: black;
	border-radius: 5px;
	

	
	
	
}

#loyaltyTable2{
	/*background-color: rgba(145, 145, 145, 0.4);*/
	background-color: rgba(30, 75, 119, 0.7);
	color: black;
	border: 2px solid;
	border-color: black;
	border-radius: 5px;
	
	
	
}

#loyaltyTable1 td{
	border: 1px solid;
	border-color: black;
	/*padding-top: 10px;*/
	/* padding-bottom: 10px; */
	text-align: center;
	
	/*padding-left: 3px;
	padding-right: 3px;*/
	/*border-radius: 5px;*/
	
	/*background-color: white;*/
	
}

#loyaltyTable2 td{
	border: 1px solid;
	border-color: black;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	text-align: center;
	
	/*padding-left: 3px;
	padding-right: 3px;*/
	/*border-radius: 5px;*/
	/*background-color: white;*/
	
}

#florida_content_div{
    border: 1px solid black;
}

#florida_pic{
    border: 5px ridge gray;
}

#omaha_content_div{
    border: 1px solid black;
}

#omaha_pic{
    border: 5px ridge gray;
}

#arizona_content_div{
    border: 1px solid black;
}

#arizona_pic{
    border: 5px ridge gray;
}

#florida_div, #omaha_div, #arizona_div{
    width: 300px;
    float: left;
    margin: 80px;
    margin-top: -2%;
}

#florida_content_div{
    padding-left: 2px;
    background-color: rgba(145, 145, 145, 0.8);
    margin-left: 3%;
}

#omaha_content_div{
    padding-left: 2px;
    background-color: rgba(145, 145, 145, 0.8);
    margin-left: 3%;
}

#arizona_content_div{
    padding-left: 2px;
    background-color: rgba(145, 145, 145, 0.8);
    margin-left: 3%;
}

#loc_link{
    text-align: center;
}

#locationPageBody{
	margin-left: 200px;
	margin-top: 50px;
}

#existingRev{
	
	color: black;
	font-size: 15pt;
}

#signin{
	color: white;
	font-size: 14pt;
}

#register{
	color: white;
	font-size: 14pt;
}



#vacation{
	float: left;
	
}



